<ion-view >
  <ion-content>
  <div class="item item-body">
  <h2><strong> Contact US</strong></h2>
  </div>
   <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Your Name</span>
    <input type="text" placeholder="First Name">
  </label>
 
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input item-floating-label">
  <span class="input-label">Subject</span>
  <textarea placeholder="Subject"></textarea>
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">Your Message</span>
  <textarea rows="10" placeholder="Your Message"></textarea>
  </label>
   <div class="SEND col col-center ">
              <button class="button button-full button-positive">  SEND </button>
            </div>
  
</div>
</ion-content>
</ion-view>