<ion-view >
  <ion-content>
 
       <div class="card">
        <a class="item item-icon-left contact_account" href="#">
    <i class="icon ion-ios-locked"></i>
  Privacy
  <p>Hide my profile from directory</p>
  </a>
       <div class="list">

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         No
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <label class="item item-radio">
      <input type="radio" name="group1">
      <div class="item-content">
         Yes
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>
   </div>

</div> 
<button class="button item-divider button-positive btn_account">
  Privacy
</button>
<div class="tabs tabs-icon-top contact_account">
  <a class="tab-item" href="#/app/templates/dashboard_account">
    <i class="ion-ios-person"></i>
    Account
  </a>
  <a class="tab-item" href="#/app/templates/dashboard_accountchangepassword">
    <i class="ion-ios-medical"></i>
    Change Password
  </a>
  <a class="tab-item" href="#/app/templates/dashboard_accountprivacy">
    <i class="ion-ios-locked"></i>
    Privacy
  </a>
</div>



  </ion-content>
 
</ion-view>
