<ion-view >
  <ion-content>
 <!-- <div class="bar bar-header bar-light">
  <h1 class="title">Invitation</h1>
</div> -->
       <div class="card invite_head">
       
  <h2>Invitation</h2>
  <div class="row invite_row">
  <div class="col col-40">Name</div>
   <div class="col col-40">Email</div>
  <div class="col col-20"><i class="icon ion-plus"></i></div>
</div>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>
</div> 
<button class="button button-medium button-positive btn_account">
  Send Invitation
</button>

   
    <div class="card">
        <div class="item item-divider">
            <h3>Invitations</h3>
        </div>
        <div class="item invite_ptag">
            <p>0</p>
        </div>
       
        </div>
        <div class="card">
        <div class="item item-divider">
            <h3>Invitations Accepted</h3>
        </div>
        <div class="item invite_ptag">
            <p>0</p>
        </div>
        
        </div>
        <div class="card">
        <div class="item item-divider">
            <h3>Investment</h3>
        </div>
        <div class="item invite_ptag">
            <p>0</p>
        </div>
       
        </div>
        <div class="card">
        <div class="item item-divider">
            <h3></h3>
        </div>
        <div class="item">
           <p><button class="button button-small button-assertive">
            Show Details
            </button></p>
        </div>
        
        </div>
  

  </ion-content>
 
</ion-view>
