<ion-view >
  <ion-content>
  <div class="card great_bpshead">
  <h4> <i class="icon ion-chevron-down icon_right"></i></h4>
  </div>
<div class="card invite_pro_details">
  <h3>Project Details</h3>
         <div class="row header_invite">
          <div class="col  col_1"><h4>Fund Raised by</h4></div>
          <div class="col  col_1"><h4>Campaign</h4></div>
          <div class="col  col_1"><h4>Funded Date</h4></div>
          <div class="col  col_1"><h4>  Frequency</h4></div>
           <div class="col  col_1"><h4>Payment Type</h4></div>
            <div class="col  col_1"><h4>  Amount</h4></div>
             <div class="col  col_1"><h4> Comment</h4></div>
        </div>
        <div class="row">
          <div class="col"><p></p></div>
          <div class="col"><p>---</p></div>
          <div class="col"><p>Tue, 22 Mar 2016</p></div>
           <div class="col"><p> Onetime</p></div>
          <div class="col"><p>Donation</p></div>
          <div class="col"><p>$ 1</p></div>
          <div class="col"><p></p></div>
        </div>
         <div class="row">
          <div class="col"><p></p></div>
          <div class="col"><p>FarmTech</p></div>
          <div class="col"><p>Thu, 07 Apr 2016</p></div>
            <div class="col"><p>Onetime</p></div>
          <div class="col"><p>Invest</p></div>
          <div class="col"><p>$ 12,536</p></div>
          <div class="col"><p>USA Yalesi 2016 Contribution</p></div>
        </div>
        </div>


  </ion-content>
 
</ion-view>
