<ion-view >
  <ion-content>


 
        
      <div class="list invite_pro_details">
    <div class="card great_bpshead">
      <h3>Project Details</h3>
    </div>
   
    <div class="card">
        <div class="item item-divider">
            <h3>Fund Raised by</h3>
        </div>
        <div class="item">
            <p></p>
        </div>
        <div class="item">
            <p></p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
        <h3>Campaign</h3>
      </div>
        <div class="item">
            <p>--</p>
        </div>
        <div class="item">
            <p>FarmTech</p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
            <h3>Funded Date</h3>
        </div>
        <div class="item">
            <p>Tue, 22 Mar 2016</p>
        </div>
        <div class="item">
            <p>Tue, 22 Mar 2016</p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
            <h3>Frequency</h3>
        </div>
        <div class="item">
            <p>Onetime</p>
        </div>
        <div class="item">
            <p>Onetime</p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
            <h3>Payment Type</h3>
        </div>
        <div class="item">
            <p>Donation</p>
        </div>
        <div class="item">
            <p>Invest</p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
            <h3> Amount</h3>
        </div>
        <div class="item">
            <p>$ 1</p>
        </div>
        <div class="item">
            <p>$ 12,536</p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
            <h3>Comment</h3>
        </div>
        <div class="item">
            <p></p>
        </div>
        <div class="item">
            <p>USA Yalesi 2016 Contribution</p>
        </div>
  </div>
 
      


  </ion-content>
 
</ion-view>
