<ion-view >
  <ion-content>
 
       <div class="list">
        <a class="item item-icon-left contact_account" href="#">
    <i class="icon ion-android-contact"></i>
   Account
  </a>
       <label class="item item-input item-floating-label">
    <span class="input-label">User Name</span>
    <input type="text" placeholder="User Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email Adress</span>
    <input type="text" placeholder="Email Adress">
  </label>

</div> 
<button class="button item-divider button-positive btn_account">
  button-positive
</button>

  </ion-content>
 
</ion-view>
