<ion-view >
  <ion-content>
   
  <div class="item tag_profile">
    <h3>Messages(1)</h3>
      <div class="item item-divider dash_profile"> 

          <div class="row">
              <div class="col col-33.33">
                  <div class="list">

                      <a class="item item-divider item-avatar dash_profile" href="#">
                          <img class="img_profile" src="../img/imgupload.png">
                             Marcus Walsh
                      </a>
                  </div>
              </div>
 <!-- <div class="col"><p>Marcus Walsh</p></div> -->
              <div class="col col-33.33"><a href="#" class="item item-divider dash_profile">Great business plan</a></div>
              <div class="col col-33.33 dash_profile"><p>Mar 15 02:05 PM</p></div>
          </div>
      <div>
  </div>

</div>
<h3>Project Details</h3>
         <div class="row header">
          <div class="col  col_1">Project</div>
          <div class="col  col_1">Status</div>
          <div class="col  col_1">Investment</div>
          <div class="col  col_1">Date</div>
        </div>
        <div class="row">
          <div class="col">xxxx</div>
          <div class="col">xxxx</div>
          <div class="col">xxxx</div>
          <div class="col">xxxx</div>
        </div>
       </div>



  </ion-content>
 
</ion-view>