<ion-view >
  <ion-content>
  
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="../img/imgupload.png">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

</div>
<div class="card">
 <div class="item item-text-wrap">
    <a href="#" class="item carditem_1">You Have 0 Unread Messages in Your Inbox.</a>
  </div>

<div class="card">
 <div class="item item-body carditem_2">
   <h1>$12537</h1>
<p><a href="#" class="item carditem_2">Total Fund Raised So Far</a></p>
</div>
</div>
   </div> 
   	<div class="card">
		<div class="item item-divider item-icon-right">
		   <h3>Latest Messages <i class="icon ion-chevron-down"></i></h3>
		</div>
		 <div class="list">

	    	<a class="item item-avatar" href="#">
	     	<img src="../img/imgupload.png">
	     	<h2>Venkman</h2>
	     	<p>Back off, man. I'm a scientist.</p>
	    	</a>
		</div>
  		<div class="item item-divider">
   	 		<a href="#" class="item"><i class="icon ion-arrow-right-c"></i> View All Messages</a>
  		</div>
	</div> 
	<div class="item item-icon-right">
		<h3>Projects Details <i class="icon ion-chevron-down"></i></h3>
		</div>
         <div class="row header">
          <div class="col  col_1">Organization Logo</div>
          <div class="col  col_1">Organization Name</div>
          <div class="col  col_1">Contact Name</div>
          <div class="col  col_1">Address</div>
        </div>

  </ion-content>
 
</ion-view>
