<ion-view >
  <ion-content>
  <div ng-repeat="group in posts | orderBy:'ID'">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon gybi_faqicon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{group.title}}
          </ion-item>
          <ion-item class="item-accordion"  ng-show="isGroupShown(group)" ng-bind-html="group.content | rawHtml">
          </ion-item>
        </div>
     
     
  </ion-content>
 
</ion-view>
