<ion-view >
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="box blue homebox">
          <h1>Entrepreneur Planning</h1>
          <p>Create an investor profile with your criteria,
            Browse our catalog of investment opportunities,
            Sort, analyze, and compare opportunities in minutes.</p>
          <button class="button button-assertive" ng-click="register()"> Sign up now </button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box blue homebox">
          <h1>Supporter 
            Planning</h1>
          <p>Create an supporter profile with your focus areas,
            Survey youth entrepreneurship and training needs,
            Share your publications with youth around the world.</p>
          <button class="button button-assertive" ng-click="register()"> Sign up now </button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box blue homebox">
          <h1>Investor Planning</h1>
          <p>Create an investor profile with your criteria,
            Browse our catalog of investment opportunities,
            Sort, analyze, and compare opportunities in minutes.</p>
          <button class="button button-assertive" ng-click="register()"> Sign up now </button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box blue homebox">
          <h1>Organization Planning</h1>
          <p>Create an investor profile with your criteria,
            Browse our catalog of investment opportunities,
            Sort, analyze, and compare opportunities in minutes.</p>
          <button class="button button-assertive" ng-click="register()"> Sign up now </button>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="whychoose-wrapper">
      <div class="container">
        <h2>How It works</h2>
        <div class="clearfix">
          <div class="home_tab" ><i class="icon powerful"></i>
            <h3>Submit Your Business Plan</h3>
            <p>Share your business plan with investors and supporters</p>
          </div>
          <div class="home_tab" ><i class="icon professional"></i>
            <h3>Get Expert Feedback</h3>
            <p>Improve your business plan according to expert feedback</p>
          </div>
          <div class="home_tab"><i class="icon flexible"></i>
            <h3>Pick Your Funding Option</h3>
            <p>Secure investments or donations for your business</p>
          </div>
          <div class="home_tab"><i class="icon experts"></i>
            <h3>Grow Your Business</h3>
            <p>Connect with mentors, coaches and other entrepreneurs for professional advice</p>
          </div>
        </div>
      </div>
    </div>
     <div class="whychoose-wrapper buildcamp">
      <div class="container" ng-repeat="campaign in campaigns">
        <h1>Build your Campaign</h1>
        <hr />
        <div class="clearfix">
          <div class="home_tab" ><img src="img/innvester_img.png">
            <h1>{{campaign.investor}}</h1>
            <h3>INVESTORS</h3>
          </div>

          <div class="home_tab" ><img src="img/entrepreneurs_img.png">
            <h1>{{campaign.project}}</h1>
            <h3>ENTREPRENEURS</h3>
          </div>
         <div class="home_tab" ><img src="img/deals_img.png">
            <h1>{{campaign.deals}}</h1>
            <h3>DEALS</h3>
          </div>
           <div class="home_tab" ><img src="img/supporters_img.png">
            <h1>{{campaign.supporter}}</h1>
            <h3>SUPPORTERS</h3>
          </div>
           <div class="home_tab" ><img src="img/organizations_img.png">
            <h1>{{campaign.organization}}</h1>
            <h3>ORGANIZATIONS</h3>
          </div>
           <div class="home_tab" ><img src="img/innvestment_img.png">
            <h1>{{campaign.transfers}}</h1>
            <h3>INVESTMENTS</h3>
          </div>
        </div>
        <button class="button button-block button-assertive buildcomp_btn">
          RAISE CAPITAL NOW
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
