<ion-view >
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="box blue homebox">
          <h1>Entrepreneur Planning</h1>
          <p>Create an investor profile with your criteria,
            Browse our catalog of investment opportunities,
            Sort, analyze, and compare opportunities in minutes.</p>
          <button class="button button-assertive" ng-click="register()"> Sign up now </button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box blue homebox">
          <h1>Supporter 
            Planning</h1>
          <p>Create an supporter profile with your focus areas,
            Survey youth entrepreneurship and training needs,
            Share your publications with youth around the world.</p>
          <button class="button button-assertive" ng-click="register()"> Sign up now </button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box blue homebox">
          <h1>Investor Planning</h1>
          <p>Create an investor profile with your criteria,
            Browse our catalog of investment opportunities,
            Sort, analyze, and compare opportunities in minutes.</p>
          <button class="button button-assertive" ng-click="register()"> Sign up now </button>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="whychoose-wrapper">
      <div class="container">
        <h2>How It works</h2>
        <div class="clearfix">
          <div ><i class="icon powerful"></i>
            <h3>Submit Your Business Plan</h3>
            <p>Share your business plan with investors and supporters</p>
          </div>
          <div ><i class="icon professional"></i>
            <h3>Get Expert Feedback</h3>
            <p>Improve your business plan according to expert feedback</p>
          </div>
          <div><i class="icon flexible"></i>
            <h3>Pick Your Funding Option</h3>
            <p>Secure investments or donations for your business</p>
          </div>
          <div><i class="icon experts"></i>
            <h3>Grow Your Business</h3>
            <p>Connect with mentors, coaches and other entrepreneurs for professional advice</p>
          </div>
        </div>
      </div>
    </div>
    <div class="list card newslist">
      <div class="item">
        <h2 class="assertive">Latest News</h2>
      </div>
      <div class="item item-body">
        <ion-slide-box>
        <ion-slide>
          <div class="box">
            <h2 class="positive">What Surprised You About Crowdfunding?</h2>
            <p>Praesent vel lorem in risus gravida suscipit in eget turpis. Sed ultrices, magna in viverra dapibus, dolor massa porta velit, eu aliquam lorem nisi in sapien. Aenean efficitur laoreet dolor non feugiat. Integer tempus sem et efficitur sodales. Duis iaculis</p>
            <a href="#">more...</a> <br />
            <br />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="box">
            <h2 class="positive">What Are The Easiest And Hardest Things About Crowdfunding?</h2>
            <p>Vivamus ac libero neque. Proin tincidunt posuere tellus ac egestas. Ut facilisis cursus lorem, in maximus dolor vehicula vel. Nulla facilisi. In porta sagittis risus ut vulputate. Morbi imperdiet laoreet erat, eget vehicula nisi condimentum ac. Nam mattis molestie commodo.</p>
            <a href="#">more...</a> <br />
            <br />
          </div>
        </ion-slide>
      </div>
    </div>
  </ion-content>
</ion-view>
