<ion-view >
  <ion-content>


 
 <div class="list invite_pro_details">
    <div class="card great_bpshead">
      <h3>Project Details</h3>
    </div>
    <div class="card">
        <div class="item item-divider">
            <h3>Project</h3>
        </div>
        <div class="item">
            <a href="#" class="item item-divider ivtrdash_profile">SCOM </a>
        </div>
        <div class="item">
           <a href="#" class="item item-divider ivtrdash_profile">SCOM </a>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
        <h3>Total Fund Invested</h3>
      </div>
        <div class="item">
            <p>$12536.8</p>
        </div>
        <div class="item">
            <p>$12536.8</p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
            <h3>Progress</h3>
        </div>
        <div class="item">
            <p></p>
        </div>
        <div class="item">
            <p></p>
        </div>
  </div>
  <div class="card">
        <div class="item item-divider">
            <h3>Last Updated Date</h3>
        </div>
        <div class="item">
            <p>Jan 01 12:00 AM</p>
        </div>
        <div class="item">
            <p>Jan 01 12:00 AM</p>
        </div>
  </div>
  



  </ion-content>
 
</ion-view>
