<ion-view class="post-view">
  <ion-content>
  <div class="item item-divider item-avatar post-heading">
     <img alt="ConsomBio" class="img-responsive" ng-src="{{post.author.avatar}}"/>
    <h2>{{post.title}}</h2>
     <i class="icon ion-location gybi_locationicon"></i>
        <p ng-repeat="country in post.acf.country_of_interest" >{{country.name}}</p>
        <span ng-repeat="interested in post.acf.interested_industries" >{{interested.name}}{{$last ? '':','}}</span>
       
  </div>
  
  <div class="item item-body">
  <h3><strong>{{post.title}}</strong></h3>
    	<p ng-bind-html="post.acf.investor_expertise | rawHtml"></p>
          </div>
          
   <div class="item item-body">
    	<p ng-bind-html="post.acf.how_do_you_want_to_be_involved | rawHtml"></p>
          </div> 
   
  
   
   <div class="row">
		  <div class="col">Investment Capital</div>
          <div class="col" ng-bind="post.acf.investment_capital ? post.acf.investment_capital + '$' : '--';"></div>
		</div>
           <div class="row">
		  <div class="col">ROI</div>
          <div class="col" ng-bind="post.acf.roi ? post.acf.roi + '%' : '--';"></div>
		</div>
         <div class="row">
		  <div class="col">Country of Interest</div>
          <div class="col"> 
          <span ng-repeat="country in post.acf.country_of_interest" >{{country.name}}</span></div>
		</div>
        <div class="row">
		  <div class="col">Interested Industries</div>
          <div class="col">
           <span ng-repeat="interested in post.acf.interested_industries" >
           {{interested.name}}{{$last ? '':','}}
           </span>
           </div>
          
               
          
		</div>
         
  </div>
    
    
  </ion-content>
  <ion-footer-bar class="post-footer bar bar-footer bar-positive">
    <div class="row">
    
      <div class="col col-20 col-center">
        <a class="button button-icon icon ion-heart"></a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon ion-android-share-alt" ng-click="sharePost(post.url)"></a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
