<ion-view >
  <ion-content>


 
<div class="card invite_pro_details">
 <div class="card great_bpshead">
  <h3>Project Details</h3>
  </div>

   <div class="card">
         <div class="row header_invite">
          <div class="col  col_1"><h4>Project</h4></div>
          <div class="col  col_1"><h4>Total Fund Invested</h4></div>
          <div class="col  col_1"><h4>Progress</h4></div>
          <div class="col  col_1"><h4>Last Updated Date</h4></div>
         </div>
        </div>
        <div class="row">
          <div class="col"><p><a href="#" class="item item-divider ivtrdash_profile">Innvestment Enquire </a></p></div>
          <div class="col"><p>$12536.8</p></div>
          <div class="col"><p>xxxx</p></div>
          <div class="col"><p> Jan 01 12:00 AM</p></div>
          
        </div>
         <div class="row">
          <div class="col"><p><a href="#" class="item item-divider ivtrdash_profile">Innvestment Enquire </a></p></div>
          <div class="col"><p>$12536.8</p></div>
          <div class="col"><p>xxxx</p></div>
          <div class="col"><p> Jan 01 12:00 AM</p></div>
          



  </ion-content>
 
</ion-view>
