<ion-view >
  <ion-content>
  <div class="card great_bpshead">
  <h4>Post Reply</i></h4>
  <div class="card message_plan">
  <h4>Message</h4>
 <label class="item item-input great_bpstextarea">
    <textarea placeholder="Message"></textarea>
  </label>

  </div>
  <button class="button button-small button-light great_bspbutton">
  Post Reply
</button>
</div>
  <div class="row">
  <div class="col col-10">
 <!--  <div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
     
    </a>


</div> -->
    <a href="#">
      <img class="img_profileplan" src="../img/imgupload.png">
    
    </a>
  </div>
    <div class="col col-90">
        <div class="card">
           <p>
              <span class="msgplan">  <i class="icon ion-clock icon_plan"></i> Mar 24 10:21 PM<button class="button button-small button-light button-right great_bspbuttonmsg">
                Investment Enquiries
                </button>
              </span>
            </p>
        <label class="item item-input">
            <textarea>Investment in Africa In the coton for example. </textarea>
        </label>
      </div>
  </div>
</div>


  </ion-content>
 
</ion-view>
