<ion-view >
  <ion-content>
   
  <div class="item tag_profile">
    <h3>Messages(1)</h3>
      <div class="item item-divider dash_profile"> 

          <div class="row">
              <div class="col col-33.33">
                  <div class="list">

                      <a class="item item-divider item-avatar dash_profile" href="#">
                          <img class="img_profile" src="../img/imgupload.png">
                             Enarsouline AHOYO
                      </a>
                  </div>
              </div>
 <!-- <div class="col"><p>Marcus Walsh</p></div> -->
              <div class="col col-33.33"><a href="#" class="item item-divider dash_profile">Innvestment Enquire </a></div>
              <div class="col col-33.33 dash_profile"><p>Mar 24 10:21 PM</p></div>
          </div>
      <div>
  </div>

</div>
<h3>Projects Invested</h3>
         <div class="row header">
          <div class="col  col_1">Project</div>
          <div class="col  col_1">Progress</div>
          <div class="col  col_1">Last Updated Date</div>
         
        </div>
        <div class="row">
          <div class="col"><a href="#" class="item item-divider ivtrdash_profile">Innvestment Enquire </a></div>
          <div class="col">xxxx</div>
          <div class="col"> Jan 01 12:00 AM</div>
          
        </div>
         <div class="row">
          <div class="col"><a href="#" class="item item-divider ivtrdash_profile">Innvestment Enquire </a></div>
          <div class="col">xxxx</div>
          <div class="col"> Jan 01 12:00 AM</div>
          
        </div>
       </div>



  </ion-content>
 
</ion-view>