<ion-view >
  <ion-content>
   
  <div class="item tag_profile">
    <h3>Messages(1)</h3>
    </div>
    <div class="card item item-divider"> 
                     <div class="card">
                      <a class="item item-divider item-avatar dash_profile" href="#">
                          <img class="img_profile" src="../img/imgupload.png">
                             <h3>Marcus Walsh</h3>
                      </a>
                  </div>

             
               
                     <div class="card">
                    <a href="#" class="item item-divider dash_profile">Great Business Plan</a>
                  </div>

             
             
                     <div class="card dash_profile">
                     <p>Mar 15 02:05 PM</p>
                  </div>

              </div>
   
<div class="list invite_pro_details">
    <div class="card great_bpshead">
      <h3>Project Details</h3>
    </div>
    <div class="card">
        <div class="item item-divider">
            <h3>Project</h3>
        </div>
        <div class="item">
            <p>xxxx</p>
        </div>
       
        </div>
        <div class="card">
        <div class="item item-divider">
            <h3>Status</h3>
        </div>
        <div class="item">
            <p>xxxx</p>
        </div>
        
        </div>
        <div class="card">
        <div class="item item-divider">
            <h3>Investment</h3>
        </div>
        <div class="item">
            <p>xxxx</p>
        </div>
       
        </div>
        <div class="card">
        <div class="item item-divider">
            <h3>Investment</h3>
        </div>
        <div class="item">
            <p>xxxx</p>
        </div>
        
        </div>
  </div>


  </ion-content>
 
</ion-view>