<ion-view >
  <ion-content>

  
<ion-lists class="posts-list"><br />
<div class="item item-divider tag_profile">
<h3>Messages({{post.length}})</h3>
</div>
<div class="card">
  <label class="item item-input ">
  <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search Messages" ng-model="searchmessages">
</label>
</div>
<!--<div class="list">
  <label class="item item-input">
     <input type="text" placeholder="Search Entrepreneurs" ng-model="searchentrepreneur">

  </label>
  </div> -->
      <ion-item ng-repeat="post in posts | filter:searchmessages"class="list card post-item">
      
      <a class="item item-divider item-avatar gybi_messages" ui-sref="app.singlemessage({messageId: post.message_id})">
      <img src="{{post.from_user_image ? post.from_user_image : '../img/imgupload.png'}}"/>
      <h2>{{post.message_title}}</h2>
      <p>{{post.from_user_name}}</p>
      <small>{{post.message_date}}</small>
    </a>

        
        
          
              
         
      </ion-item>
      
    </ion-lists>
     
     
  </ion-content>
 
</ion-view>

