<ion-view >
  <ion-content>
  <div class="card great_bpshead">
  <h4>Post Reply</i></h4>
  <div class="card message_plan">
  <h4>Message</h4>
 <label class="item item-input great_bpstextarea">
    <textarea placeholder="Message"></textarea>
  </label>

  </div>
  <button class="button button-small button-light great_bspbutton">
  Post Reply
</button>
</div>
  <div class="row">
  <div class="col col-10">
    <a href="#">
      <img class="img_profileplan" src="../img/imgupload.png">
    </a>
  </div>
    <div class="col col-90">
        <div class="card gybi_msgsingle">
           <p>
              <span class="msgplan">  <i class="icon ion-clock icon_plan"></i> Mar 15 02:05 PM<button class="button button-small button-light button-right great_bspbuttonmsg">
                Post Reply
                </button>
              </span>
            </p>
        <label class="item item-input">
            <p>xxxx xxxx xxxx</p>
        </label>
      </div>
  </div>
</div>

<div class="row">
  <div class="col col-90">
    <div class="card gybi_msgsingle">
           <p>
              <span class="msgplan">  <i class="icon ion-clock icon_plan"></i> Mar 15 02:05 PM
              </span>
            </p>
        <label class="item item-input">
            <p>xxxx xxxx xxxx</p>
        </label>
      </div>
  </div>
 
    <div class="col col-10">
    <a href="#">
      <img class="img_profileplan" src="../img/imgupload.png">
    </a>
</div>
</div>

  </ion-content>
 
</ion-view>
