<ion-view class="post-view">
  <ion-content>
  <div class="item item-avatar">
    	<div class="item item-avatar">
     <img alt ="ConsomBio" class="img-responsive" img ng-src="{{post.acf.organization_logo}}" />
         <h3>{{post.title}}</h3>
        <p ng-repeat="country in post.acf.country" >{{country.name}}</p>
        <span ng-repeat="sector in post.acf.sector" >{{sector.name}}{{$last ? '':','}}</span>
       
 		 </div>
           </div>
        <div class="post-content item item-text-wrap">
        <h3>About Organization</h3>
          <p class="post-expert" ng-bind-html="post.acf.description | limitTo: 100"></p>
    <hr />
    
             <div class = "row">
                 <div class="col">Founded Date</div>
                     <div class="col" ng-bind="post.acf.founded_date_ ? post.acf.founded_date_ : '--';"></div>
                       </div>
               
                   <div class = "row">
                   	<div class="col">No. Of Employees</div>
                      <div class="col" ng-bind="post.acf.no_of_employees ? post.acf.no_of_employees : '--';"></div>
                         </div>
                         
                    <div class = "row">
                   		<div class="col">Country of Interest</div>
                      		<div class="col" <p ng-repeat="country in post.acf.country" >{{country.name}}</p></div>
                         		</div>
                         
                   <div class = "row">
                   	<div class="col">Sector</div>
                      <div class="col" >
                      	<span ng-repeat="sector in post.acf.sector" >{{sector.name}}{{$last ? '':','}}</span>
                      		</div>
                      			</div>
                        <hr /> 
                         
                      <h3>Documents<h3>
    
    
  </div>
    
    
  </ion-content>
  <ion-footer-bar class="post-footer bar bar-footer bar-positive">
    <div class="row">
    
      <div class="col col-20 col-center">
        <a class="button button-icon icon ion-heart"></a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon ion-android-share-alt" ng-click="sharePost(post.url)"></a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
