<ion-view >
  <ion-content>
  
<div class="list card profile_header">

    <a class="item item-divider item-avatar" href="#">
      <img src="../img/imgupload.png">
      <h2>Welcome</h2>
       <p >{{userinfo.display_name}}</p>
      <hr />
    </a>

</div>

<div class="card">
 <div class="item item-text-wrap">
 <div class="row">
    <a href="#" class="col col-75 item carditem_1"><h3>Supporters Mentoring Hours {{post.supporters_hours}} </h3>
  </a>
    <a href="#" class="col item carditem_1"><i class="icon ion-arrow-right-c icons"></i>
  
</a>
  </div>
  </div>
  </div>
  
  
  <div class="card">
 <div class="item item-text-wrap">
 <div class="row">
    <a href="#" class="col col-75 item carditem_1"><h3>{{post.investors_invested > 0 ? '$'+post.investors_invested: 0}} Total Funds By Investors. </h3>
  </a>
    <a href="#" class="col item carditem_1"><i class="icon ion-arrow-right-c icons"></i>
  
</a>
  </div>
  </div>
  </div>
  
  
  <div class="card">
 <div class="item item-text-wrap">
 <div class="row">
    <a href="#" class="col col-75 item carditem_1"><h3>{{post.supporter_donations > 0 ? '$'+post.supporter_donations: 0}} Donations by Supporters. </h3>
  </a>
    <a href="#" class="col item carditem_1"><i class="icon ion-arrow-right-c icons"></i>
  
</a>
  </div>
  </div>
  </div>
<div class="card">
 <div class="item item-text-wrap">
 <div class="row">
    <a href="#" class="col col-75 item carditem_1"><h3>You Have {{post.messsages_count}} Unread Messages in Your Inbox. </h3>
  </a>
    <a href="#" class="col item carditem_1"><i class="icon ion-arrow-right-c icons"></i>
  
</a>
  </div>
  </div>
  </div>
  
<div class="card">
 <div class="item item-text-wrap">
   <!-- <h1 class="item carditem_2">$12537</h1> -->
    <div class="row">
	<a href="#" class="col col-75 item carditem_2"><h3>Blog
</i></h3></a>
 <a href="#" class="col item carditem_2"><i class="icon ion-arrow-right-c icons"></i></a>
</div>
</div>
</div>
<div class="card">
 <div class="item item-text-wrap">
  <div class="row">
    <a href="#" class="col col-75 item carditem_1"><h3>Invite </h3></a>
    <a href="#" class="col item carditem_1"><i class="icon ion-arrow-right-c icons"></i></a>
  </div>
  </div>
  </div>
  <div class="card">
 <div class="item item-text-wrap">
 <div class="row">
    <a href="#" class="col col-75 item carditem_3"><h3>Account </i></h3></a>
    <a href="#" class="col item carditem_3"><i class="icon ion-arrow-right-c icons"></i></a>
  </div>
  </div>
  </div>
  <div class="card" ng-hide="post.project_id == 0">
 <div class="item item-text-wrap">
   <!-- <h1 class="item carditem_2">$12537</h1> -->
    <div class="row">
	<a ui-sref="app.singleorganization({postId: post.project_id})" class="col col-75 item carditem_2"><h3>Profile Overview </i></h3></a>
 	<a ui-sref="app.singleorganization({postId: post.project_id})" class="col item carditem_2"><i class="icon ion-arrow-right-c icons"></i></a>
</div>
</div>
</div>
<div class="card" ng-hide="post.project_id != 0">
 <div class="item item-text-wrap">
   <!-- <h1 class="item carditem_2">$12537</h1> -->
    <div class="row">
	<a ui-sref="#/app/noaccess" class="col col-75 item carditem_2"><h3>Please Create your Profile </i></h3></a>
 	<a ui-sref="#/app/noaccess" class="col item carditem_2"><i class="icon ion-arrow-right-c icons"></i></a>
</div>
</div>
</div>
   
        <a href="#/app/logout" ><button class="button button-block button-assertive">
          Logout
        </button></a>

  </ion-content>
 
</ion-view>
